// Appear
@-webkit-keyframes appear {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}
@keyframes appear {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}


// Rotation 
@-webkit-keyframes rotation /* Safari and Chrome */ {
    from {
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    to {
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(360deg);
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    to {
        -ms-transform: translateX(-50%) translateY(-50%) rotate(360deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(360deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(360deg);
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

// Pulse ring
@-webkit-keyframes pulse-ring {
    0% {
        -ms-transform: scale(.33);
        -moz-transform: scale(.33);
        -webkit-transform: scale(.33);
        -o-transform: scale(.33);
        transform: scale(.33);
    }

    80%, 100% {
      opacity: 0;
    }
}

@keyframes pulse-ring {
    0% {
        -ms-transform: scale(.33);
        -moz-transform: scale(.33);
        -webkit-transform: scale(.33);
        -o-transform: scale(.33);
        transform: scale(.33);
    }

    80%, 100% {
      opacity: 0;
    }
}

// Cursor drag
@-webkit-keyframes cursor-drag {
    0% {
        left: 0;
    }

    50% {
        left: 85%;
    }

    100% {
      left: 0;
    }
}
@keyframes cursor-drag {
    0% {
        left: 0;
    }

    50% {
        left: 85%;
    }

    100% {
      left: 0;
    }
}

// Cursor move
@-webkit-keyframes cursor-move {
    0% {
        left: 0;
        top: 85%;
    }

    100% {
        left: 45%;
        top: 95px;
    }
}
@keyframes cursor-move {
    0% {
        left: 0;
        top: 85%;
    }

    100% {
        left: 45%;
        top: 95px;
    }
}

// Arrow Pulse
@-webkit-keyframes arrow-pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes arrow-pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-webkit-keyframes size-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes size-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

