input, textarea, select {
	box-sizing: border-box;
	width: 100%;
    margin-bottom: 10px;
    background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 5px;
    padding-left: 0;
    padding-right: 20px;
    font-size: 14px;
    font-family: $sans-serif;
    color: #fff;
	font-family: inherit;
    -webkit-appearance: none;

}

select {
    text-transform: uppercase;
    background-image: url(../../images/down-chevron.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-weight: bold;
}

input:not([type="submit"]):focus,
textarea:focus,
select:focus {
    border-color: #fff;
    outline: none;
    box-shadow: none;
}

/* Filters */
.filters {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;
    z-index: 1;
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.6s;
    transition-delay: 0.4s; 

    @include bp-md {
        width: 220px;
    }

    input {
        background-image: url(../../images/icon-search.svg);
        background-repeat: no-repeat;
        background-position: 100% 50%;
        font-family: $serif;
        font-style: italic;

        &::-webkit-input-placeholder {
            color: #fff;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
        &::-ms-input-placeholder {
            color: #fff;
        }
        &::placeholder {
            color: #fff;
        }

        &:focus {
            &::-webkit-input-placeholder {
                opacity: 0;
            }
            &:-ms-input-placeholder {
                opacity: 0;
            }
            &::-ms-input-placeholder {
                opacity: 0;
            }
            &::placeholder {
                opacity: 0;
            }
    
        }
    }

    select {
        display: block;
        -moz-appearance: none;
        -webkit-appearance: none;
        letter-spacing: 1px;

        option {
            color: black;
        }

        &::-ms-expand {
            display: none;
        }
        
    }

    #clear-filter {
        color: #a3fafe;
        cursor: pointer;
        font-family: $serif;
        font-size: 14px;
    }

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    select {
        color: gray;
    }    
}

@supports (-ms-ime-align:auto) {
    // Microsoft Edge
    select {
        color: gray;
    }
}
  
.scene-entered .filters {
    transform: translateY(0);
    opacity: 1; 
}
  
.filter-message {
    display: none;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity 0.3s;
  
    &--active {
        display: block;
        opacity: 1; 
    }    
}