/* Global */
html {
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
    font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

h1, .h1 {
	font: 50px/50px $serif;

	@include bp-md {
		font: 48px/58px $serif;
	}
}

h2, .h2 {
	font: 32px/32px $serif;
	margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    
    @include bp-md {
        font: 42px/42px $serif;
    }
}

h3, .h3 {
	font: 36px/36px $serif;
	margin-top: 0;
	margin-bottom: 20px;
}

h4, .h4 {
	font: 14px/19px $sans-serif;
	letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

h5, .h5 {
	font: bold 20px/24px $sans-serif;
}

h6, .h6 {
	font: 100 28px/38px $sans-serif;
	margin-top: 0;
	margin-bottom: 20px;
}

p {
    font: 100 18px/28px $sans-serif;
    margin-bottom: 30px;
    
}

a {
    color: $light-blue;
    transition: opacity 0.3s;

    &:hover, &:focus {
        opacity: 0.7;
    }
}

blockquote, blockquote p {
    font-family: $serif;
    font-size: 26px;
    line-height: 26px;
    font-style: italic;
    color: #FFFFFF;
    letter-spacing: 2.24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;

    @include bp-md {
        font-size: 36px;
        line-height: 36px;
    }
}

blockquote p {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

hr {
    border-color: $teal;
    border-width: 4px;
    border-top: 4px;
    border-left: none;
    border-right: none;
    border-top: none;
    opacity: 0.4;
    max-width: 275px;
    margin: 0 auto 30px;
}

.wp-caption {
    max-width: 100%;
}

.alignleft {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;

    &.wp-caption {
        margin-bottom: 0;
    }
}

.alignright {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;

    &.wp-caption {
        margin-bottom: 0;
    }
}

.wp-caption-text {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    margin-top: 5px;
}

iframe {
    display: block;
    margin: 0 auto 40px;
}


/* Web GL Canvas */
#container canvas {
    background: linear-gradient(-45deg, #100E2A 0%, #1E0143 100%);

}

// Hide UI Elements
.hide-ui .ui-icon, .hide-ui .filters {
    opacity: 0;
    transition: all 0.6s; 
}

// UI Icons
.ui-icon {
    &:before {
        display: none;
        opacity: 1;
        position: absolute;
        left: -250px;
        width: 240px;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
        animation: appear 0.3s;
        font-family: $serif;
    }

    &:hover {
        opacity: 1;

        &:before {
            display: block;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

/* Tour icon */
#tour {
    position: absolute;
    top: 30px;
    left: 30px;
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.6s;

    &:before {
        content: 'View Stories';
        left: unset;
        right: -250px;
        text-align: left;
    }

    &:hover, &:focus {
        opacity: 1;
    }
}

.scene-entered #tour {
    transform: translateY(0);
    opacity: 0.8;

    &:hover {
        opacity: 1;

        &:after {
            display: block;
        }
    }
}


/* Info Icon */
.info {
    position: absolute;
    height: 30px;
    top: 30px;
    right: 30px;
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.6s;
    transition-delay: 0.15s;

    &:before {
        content: 'Our Approach';
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 300%;
        height: 300%;
        box-sizing: border-box;
        margin-left: -100%;
        margin-top: -100%;
        border-radius: 45px;
        background-color: #fff;
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
    

    &--stopped {
        &:after {
            display: none;
        }
    }

    
}

.overview-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 30px;

    &__image {
        margin-bottom: 15px;
    }

    @include bp-md {
        &__image {
            position: absolute;
        }

        &--1, &--3 {
            img:first-child {
                width: 50%;
                top: 0;
                left: 0;
            }
    
            img:last-child {
                top: 150px;
                left: 10%;
                width: 75%;
            }
        }
    
        &--2 {
            img:first-child {
                width: 85%;
                top: -30px;
                right: 0;
            }
    
            img:last-child {
                top: 220px;
                left: 0;
                width: 50%;
            }
        }
    }

    
}

.scene-entered .info {
    transform: translateY(0);
    opacity: 0.8;

    &:hover, &:focus {
        opacity: 1;
    }
}

// Info Overlay

#info-overlay {
    .row--topic {
        @include bp-md {
            margin-bottom: 100px;
        }     
    }

    header {
        margin-bottom: 40px;

        svg {
            margin: auto;
            display: block;
            margin-bottom: 15px;
            
            path {
                fill: #fff;
            }
        }
    }

    h1 {
        font-size: 44px;
        margin-bottom: 20px;

        @include bp-md {
            font-size: 64px;
            line-height: 64px;
        }
    }

    h2 {
        font-style: italic;
    }
}

// Help Icon
.help {
    position: absolute;
    height: 30px;
    bottom: 30px;
    right: 30px;
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.6s;
    transition-delay: 0.15s;

    &:before {
        content: 'Help';
    }
}

.scene-entered .help {
    transform: translateY(0);
    opacity: 0.8;

    &:hover, &:focus {
        opacity: 1;
    }
}

#help-overlay {
    padding-bottom: 0;

    @include bp-md {
        padding-bottom: 80px;
    }

    .overlay__inner {
        min-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

// Audio Icons
.audio-play {
    position: absolute;
    height: 30px;
    bottom: 80px;
    right: 30px;
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.6s;
    transition-delay: 0.15s;

    &:before {
        content: 'Toggle Sound';
    }
}
.scene-entered .audio-play {
    transform: translateY(0);
    opacity: 0.8;

    &:hover, &:focus {
        opacity: 1;
    }
}
.audio-pause {
    position: absolute;
    height: 30px;
    bottom: 80px;
    right: 30px;
    transition: all 0.6s;
    transition-delay: 0.15s;
    display: none;

    &:before {
        content: 'Toggle Sound';
    }
}
.scene-entered .audio-play {
    opacity: 0.8;

    &:hover, &:focus {
        opacity: 1;
    }
}

.explain-animation {
    position: relative;
    height: 200px;
    max-width: 275px;
    margin: auto;

    .cursor-arrows {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
    }

    svg {
        max-width: 100%;
    }

    .scroll-mouse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .arrow {
            animation: arrow-pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        }

        
        path:nth-child(2) {
            animation-delay: .625s;
        }
    }

    .cursor {
        position: absolute;
        left: 0;
        width: 30px;
    }

    .node-example {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateX(50%) translateY(-50%);

        &__node {
            position: absolute;;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background: cyan;
        }

        &__glow {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            box-shadow: 0px 0px 100px $light-blue;
            animation: size-pulse 3s ease-in-out infinite;
        }
    }

    &#explain-drag {
        max-width: 200px;
        .cursor {
            animation: cursor-drag 3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &#explain-click {
        .cursor {
            animation: cursor-move 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        }
    }
}

.credit {
    position: relative;
    bottom: 15px;
    font-family: $serif;
    font-style: italic;
    font-size: 14px;

    @include bp-md {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        opacity: 0.7;
        transition: opacity 0.3s;
        text-decoration: none;
        color: #fff;

        &:hover, &:focus {
            opacity: 1;
        }

        &:visited {
            color: #fff;
        }
    }

    &__logo {
        width: 45px;
        height: 45px;
        
        path {
            fill: #fff;
        }
       
    }
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(-180deg, rgba(16,14,42,0.90) 0%, rgba(30,1,67,0.90) 100%);;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
    overflow: auto;
    padding-top: 75px;
    padding-bottom: 80px;

    @include bp-md {
        padding-top: 125px;
    }

    &--open {
        opacity: 1;
        z-index: 2;
        transition: opacity 0.3s;
    }

    &__overlay-close {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 25px;
        height: 25px;
        text-align: center;
        color: white;

        .close-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &__line {
                width: 48px;
                height: 5px;
                background: white;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;

                &:first-child {
                    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
                    -ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
                    transform: translateY(-50%) translateX(-50%) rotate(45deg);
                }

                &:last-child {
                    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
                }
            }
        }

        &:hover, &:focus {
            cursor: pointer;

            .close-icon__line {
                &:first-child {
                    -webkit-transform: translateY(-50%) translateX(-50%) rotate(40deg);
                    -ms-transform: translateY(-50%) translateX(-50%) rotate(40deg);
                    transform: translateY(-50%) translateX(-50%) rotate(40deg);
                }

                &:last-child {
                    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-40deg);
                    -ms-transform: translateY(-50%) translateX(-50%) rotate(-40deg);
                    transform: translateY(-50%) translateX(-50%) rotate(-40deg);
                }
            }
        }

        @include bp-md {
            width: 40px;
            height: 40px;   
        }
    }
}

.tour-nav {
    position: absolute;
    top: 110px;
    opacity: 0.35;
    transition: all 0.3s;

    @include bp-lg {
        position: fixed;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    @include bp-md {
        top: 50%;

        svg {
            width: 64px;
            height: 64px;
        }
    }

    &:hover, &:focus {
        opacity: 1;
    }
}

#prev-link {
    left: 15px;

    @include bp-lg {
        left: 50px;
    }
}

#next-link {
    right: 15px;

    @include bp-lg {
        right: 50px;
    }

    svg {
        transform: rotate(180deg);
    }
}

/* Helpers */
.text-center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.iframe-wrap {
	position: relative;
  	height: 0;
  	overflow: hidden;
  	padding-bottom: 56.25%;

  	iframe {
  		position: absolute;
	  	top:0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
  	}
}

