// Reset
.container, .container-fluid {
    box-sizing: border-box;
    &:before, &:after {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: border-box;
    }
  }
  
  // Variables
  $remBase: 16px;
  
  // Functions
  @function pxtorem($size) {
      $remSize: $size / $remBase;
      @return #{$remSize}rem;
  }
  
  // Media Queries
  $breakpoint-sm: pxtorem(576px);
  $breakpoint-md: pxtorem(768px);
  $breakpoint-lg: pxtorem(992px);
  $breakpoint-xl: pxtorem(1200px);
  @mixin bp-xs {
    @media (min-width: #{$breakpoint-xs}) {
      @content;
    }
  }
  @mixin bp-sm {
    @media (min-width: #{$breakpoint-sm}) {
      @content;
    }
  }
  @mixin bp-md {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
  }
  @mixin bp-lg {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
  }
  @mixin bp-xl {
    @media (min-width: #{$breakpoint-xl}) {
      @content;
    }
  }
  
  // Variables
  $spacing: 30px;
  
  .container, .container-fluid {
    width:100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing;
    padding-right: $spacing;
    &.fill {
      padding-left: 0;
      padding-right: 0;
      .row {
        margin-left: 0;
        margin-right: 0;
      }
      .column {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }.container {
      max-width: 1170px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -$spacing;
    margin-right: -$spacing;
    &.justify-center {
      justify-content: center;
    }
    &.justify-right {
      justify-content: flex-end;
    }
  }
  .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-left: $spacing;
    padding-right: $spacing;
  
    &.xs-auto {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    // Widths
    &.xs-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    &.xs-25 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        max-width: 25%;
    }
    &.xs-33 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 1/3*100%;
        flex: 0 0 1/3*100%;
        max-width: 1/3*100%;
    }
    &.xs-40 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    &.xs-50 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
      max-width: 50%;
    }
    &.xs-60 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    &.xs-67 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 2/3*100%;
        flex: 0 0 2/3*100%;
        max-width: 2/3*100%;
    }
    &.xs-75 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
      max-width: 75%;
    }
    &.xs-80 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    &.xs-100 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
  }
  
  @include bp-sm {
    .row {
      &.sm-reverse {
        flex-direction: row-reverse;
      }
    }
    .column {
        &.sm-auto {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1
        }
        // Widths
        &.sm-20 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
        &.sm-25 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            max-width: 25%;
        }
        &.sm-33 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 1/3*100%;
            flex: 0 0 1/3*100%;
            max-width: 1/3*100%;
        }
        &.sm-40 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
            max-width: 40%;
        }
        &.sm-50 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
          max-width: 50%;
        }
        &.sm-60 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 60%;
            flex: 0 0 60%;
            max-width: 60%;
        }
        &.sm-67 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 2/3*100%;
            flex: 0 0 2/3*100%;
            max-width: 2/3*100%;
        }
        &.sm-75 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
          max-width: 75%;
        }
        &.sm-80 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 80%;
            flex: 0 0 80%;
            max-width: 80%;
        }
        &.sm-100 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
  }
  @include bp-md {
    .row {
      &.md-reverse {
        flex-direction: row-reverse;
      }   
    }
    .column {
      flex: 1;
      // Widths
      &.md-auto {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    // Widths
    &.md-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    &.md-25 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        max-width: 25%;
    }
    &.md-33 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 1/3*100%;
        flex: 0 0 1/3*100%;
        max-width: 1/3*100%;
    }
    &.md-40 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    &.md-50 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
      max-width: 50%;
    }
    &.md-60 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    &.md-67 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 2/3*100%;
        flex: 0 0 2/3*100%;
        max-width: 2/3*100%;
    }
    &.md-75 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
      max-width: 75%;
    }
    &.md-80 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    &.md-100 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    }
  }
  @include bp-lg {
    .row {
      &.lg-reverse {
        flex-direction: row-reverse;
      }   
    }
    .column {
      // Widths
      &.lg-auto {
        flex: 1;
      }
      &.lg-20 {
        flex: 0 0 20%;
        max-width: 20%;
      }
      &.lg-25 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &.lg-33 {
        flex: 0 0 1/3*100%;
        max-width: 1/3*100%;
      }
      &.lg-40 {
        flex: 0 0 40%;
        max-width: 40%;
      }
      &.lg-50 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      &.lg-60 {
        flex: 0 0 60%;
        max-width: 60%;
      }
      &.lg-67 {
        flex: 0 0 2/3*100%;
        max-width: 2/3*100%;
      }
      &.lg-75 {
        flex: 0 0 75%;
        max-width: 75%;
      }
      &.lg-80 {
        flex: 0 0 80%;
        max-width: 80%;
      }
      &.lg-100 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  @include bp-xl {
    .row {
      &.xl-reverse {
        flex-direction: row-reverse;
      }   
    }
    .column {
      // Widths
      &.xl-auto {
        flex: 1;
      }
      &.xl-20 {
        flex: 0 0 20%;
        max-width: 20%;
      }
      &.xl-25 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &.xl-33 {
        flex: 0 0 1/3*100%;
        max-width: 1/3*100%;
      }
      &.xl-40 {
        flex: 0 0 40%;
        max-width: 40%;
      }
      &.xl-50 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      &.xl-60 {
        flex: 0 0 60%;
        max-width: 60%;
      }
      &.xl-67 {
        flex: 0 0 2/3*100%;
        max-width: 2/3*100%;
      }
      &.xl-75 {
        flex: 0 0 75%;
        max-width: 75%;
      }
      &.xl-80 {
        flex: 0 0 80%;
        max-width: 80%;
      }
      &.xl-100 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }  
  }