/* Intro Overlay */

.intro-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    background-image: linear-gradient(-45deg, rgba(16, 14, 42, 0.65) 0%, rgba(30, 1, 67, 0.65) 100%);
    color: white;
    transition: all 0.5s;

    &--closed {
        z-index: -1;
        opacity: 0;
    }

    * {
        animation: appear;
        animation-duration: 0.6s;
    }


    &__inner {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    h1 {
        font-size: 60px;
        line-height: 60px;
        font-weight: 900;
        margin-bottom: 40px;

        span:first-child {
            animation-duration: 1.1s;
        }
        span:last-child {
            animation-duration: 1.5s;
        }

        @include bp-md {
            font-size: 100px;
            line-height: 100px;

            span:first-child {
                padding-right: 13%;
            }
            span:last-child {
                padding-left: 13%;
            }
        }
    }

    h4 {
        font-size: 15px;
    }

    p {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;

        &:nth-child(3) {
            animation-duration: 1.9s;
        }

        &:last-child {
            animation-duration: 2.3s;
        }
    }

    &--closed {
        opacity: 0;
    }
}

.interaction-help {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .h4 {
        font-size: 12px;
    }
}
