/* Loading */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(-45deg, #100E2A 0%, #1E0143 100%);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &__inner {
        position: relative;
        width: 400px;
        text-align: center;

        h4, #loading-progress {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

        h4 {
            width: 100%;
            font-family: $serif;
            text-transform: none;
            font-style: italic;
            font-size: 22px;
            letter-spacing: 0px;
        }

        #loading-progress p {
            font-size: 125px;
            font-weight: bold;
            font-family: $serif;
            opacity: 0.15;
            margin-bottom: 0;

            @include bp-md {
                font-size: 200px;
            }
        }
    }
}