/* Fellow Node */

// Node Label
.node-label {
    color: #fff;
    width: 500px;
    transition: opacity 0.3s;
    transform-origin: center left;
    transform: translateY(-50%);
    animation: appear 0.3s;

    &--hidden {
        opacity: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    blockquote {
        font-size: 26px;
        line-height: 26px;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
}