/* Single Fellow */
.single-fellow {

    h1 {
        margin-top: 30px;
        margin-bottom: 5px;

        @include bp-md {
            margin-top: 45px;
        }
    }

    &__image {
        max-width: 100px;
        margin: auto;
        display: block;
        border-radius: 50%;
        box-shadow: 0px 0px 100px $light-blue;

        @include bp-md {
            max-width: 200px;
            box-shadow: 0px 0px 200px $light-blue;
        }
    }

    &__meta {
        margin-bottom: 45px;

        h4 {
            @include bp-sm {
                max-width: 85%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__highlight-story {
        padding-bottom: 40px;
    }

    &__bio {
        strong {
            @extend .h4;
            display: block;
        }
    }

}

#fellow-overlay {
    .container {
        max-width: 768px;
    }
}